# API - application programming interface

## JSON - JavaScript Object Notation

In [5]:
import requests
import pandas as pd

In [18]:
url = 'https://swapi.dev/api/people/1/'

In [19]:
response = requests.get(url)

In [20]:
response.ok

True

In [21]:
response.json()

{'name': 'Luke Skywalker',
 'height': '172',
 'mass': '77',
 'hair_color': 'blond',
 'skin_color': 'fair',
 'eye_color': 'blue',
 'birth_year': '19BBY',
 'gender': 'male',
 'homeworld': 'https://swapi.dev/api/planets/1/',
 'films': ['https://swapi.dev/api/films/1/',
  'https://swapi.dev/api/films/2/',
  'https://swapi.dev/api/films/3/',
  'https://swapi.dev/api/films/6/'],
 'species': [],
 'vehicles': ['https://swapi.dev/api/vehicles/14/',
  'https://swapi.dev/api/vehicles/30/'],
 'starships': ['https://swapi.dev/api/starships/12/',
  'https://swapi.dev/api/starships/22/'],
 'created': '2014-12-09T13:50:51.644000Z',
 'edited': '2014-12-20T21:17:56.891000Z',
 'url': 'https://swapi.dev/api/people/1/'}

In [23]:
json = response.json()

In [24]:
json.keys()

dict_keys(['name', 'height', 'mass', 'hair_color', 'skin_color', 'eye_color', 'birth_year', 'gender', 'homeworld', 'films', 'species', 'vehicles', 'starships', 'created', 'edited', 'url'])

In [25]:
json['starships']

['https://swapi.dev/api/starships/12/', 'https://swapi.dev/api/starships/22/']

In [26]:
for ship in json['starships']:
    response = requests.get(ship)
    print(response.json()['name'])

X-wing
Imperial shuttle

In [27]:
base_url = 'https://swapi.dev/api/people/'

In [28]:
response = requests.get(base_url)

In [31]:
big_json = response.json()

In [37]:
names = []
height = []
mass = []

for i in range(1, 10):
    new_url = base_url + f'{i}/'
    response = requests.get(new_url)
    json = response.json()
    
    names.append(json['name'])
    height.append(json['height'])
    mass.append(json['mass'])
len(names), len(height), len(mass)

(9, 9, 9)

In [38]:
pd.DataFrame({'name' : names,
              'height': height,
              'mass': mass})

                 name height mass
0      Luke Skywalker    172   77
1               C-3PO    167   75
2               R2-D2     96   32
3         Darth Vader    202  136
4         Leia Organa    150   49
5           Owen Lars    178  120
6  Beru Whitesun lars    165   75
7               R5-D4     97   32
8   Biggs Darklighter    183   84