In [11]:
import requests
import pandas as pd
import csv

In [4]:
url = 'https://swapi.dev/api/planets/'

In [5]:
response = requests.get(url)

In [6]:
response.ok

True

In [7]:
json = response.json()

In [8]:
json.keys()

dict_keys(['count', 'next', 'previous', 'results'])

In [140]:
names = []
rotation_period = []
orbital_period = []
diameter = []
climate = []
terrain = []
population = []
gravity = []



for i in range(1, 70):
    new_url = url + f'{i}/'
    response = requests.get(new_url)
    if response.ok == False:
        continue
    json = response.json()
    
    names.append(json['name'])
    rotation_period.append(json['rotation_period'])
    orbital_period.append(json['orbital_period'])
    diameter.append(json['diameter'])
    climate.append(json['climate'])
    terrain.append(json['terrain'])
    population.append(json['population'])
    gravity.append(json['gravity'])

In [141]:
len(names), len(rotation_period), len(orbital_period), len(diameter), len(climate), len(terrain), len(population), len(gravity)

(60, 60, 60, 60, 60, 60, 60, 60)

In [142]:
names

['Tatooine',
 'Alderaan',
 'Yavin IV',
 'Hoth',
 'Dagobah',
 'Bespin',
 'Endor',
 'Naboo',
 'Coruscant',
 'Kamino',
 'Geonosis',
 'Utapau',
 'Mustafar',
 'Kashyyyk',
 'Polis Massa',
 'Mygeeto',
 'Felucia',
 'Cato Neimoidia',
 'Saleucami',
 'Stewjon',
 'Eriadu',
 'Corellia',
 'Rodia',
 'Nal Hutta',
 'Dantooine',
 'Bestine IV',
 'Ord Mantell',
 'unknown',
 'Trandosha',
 'Socorro',
 'Mon Cala',
 'Chandrila',
 'Sullust',
 'Toydaria',
 'Malastare',
 'Dathomir',
 'Ryloth',
 'Aleen Minor',
 'Vulpter',
 'Troiken',
 'Tund',
 'Haruun Kal',
 'Cerea',
 'Glee Anselm',
 'Iridonia',
 'Tholoth',
 'Iktotch',
 'Quermia',
 'Dorin',
 'Champala',
 'Mirial',
 'Serenno',
 'Concord Dawn',
 'Zolan',
 'Ojom',
 'Skako',
 'Muunilinst',
 'Shili',
 'Kalee',
 'Umbara']

In [13]:
planets = pd.DataFrame({'names': names,
              'rotation period':rotation_period,
              'orbital period': orbital_period,
              'diameter':diameter,
              'climate': climate,
              'terrain':terrain,
              'population': population,
              'gravity':gravity})

In [14]:
planets

,names,rotation period,orbital period,diameter,climate,terrain,population,gravity
0,Tatooine,23,304,10465,arid,desert,200000,1 standard
1,Alderaan,24,364,12500,temperate,"grasslands, mountains",2000000000,1 standard
2,Yavin IV,24,4818,10200,"temperate, tropical","jungle, rainforests",1000,1 standard
3,Hoth,23,549,7200,frozen,"tundra, ice caves, mountain ranges",unknown,1.1 standard
4,Dagobah,23,341,8900,murky,"swamp, jungles",unknown,N/A
5,Bespin,12,5110,118000,temperate,gas giant,6000000,"1.5 (surface), 1 standard (Cloud City)"
6,Endor,18,402,4900,temperate,"forests, mountains, lakes",30000000,0.85 standard
7,Naboo,26,312,12120,temperate,"grassy hills, swamps, forests, mountains",4500000000,1 standard
8,Coruscant,24,368,12240,temperate,"cityscape, mountains",1000000000000,1 standard
9,Kamino,27,463,19720,temperate,ocean,1000000000,1 standard
10,Geonosis,30,256,11370,"temperate, arid","rock, desert, mountain, barren",100000000000,0.9 standard
11,Utapau,27,351,12900,"temperate, arid, windy","scrublands, savanna, canyons, sinkholes",95000000,1 standard
12,Mustafar,36,412,4200,hot,"volcanoes, lava rivers, mountains, caves",20000,1 standard
13,Kashyyyk,26,381,12765,tropical,"jungle, forests, lakes, rivers",45000000,1 standard
14,Polis Massa,24,590,0,artificial temperate,airless asteroid,1000000,0.56 standard
15,Mygeeto,12,167,10088,frigid,"glaciers, mountains, ice canyons",19000000,1 standard
16,Felucia,34,231,9100,"hot, humid",fungus forests,8500000,0.75 standard
17,Cato Neimoidia,25,278,0,"temperate, moist","mountains, fields, forests, rock arches",10000000,1 standard
18,Saleucami,26,392,14920,hot,"caves, desert, mountains, volcanoes",1400000000,unknown

In [17]:
planets.to_csv('planets.csv')

In [86]:
url02 = 'https://swapi.dev/api/starships/6/'

In [87]:
response = requests.get(url02)

In [88]:
response.ok

False

In [77]:
json02 = response.json()

In [78]:
json02.keys()

dict_keys(['name', 'model', 'manufacturer', 'cost_in_credits', 'length', 'max_atmosphering_speed', 'crew', 'passengers', 'cargo_capacity', 'consumables', 'hyperdrive_rating', 'MGLT', 'starship_class', 'pilots', 'films', 'created', 'edited', 'url'])

In [71]:
url03 = 'https://swapi.dev/api/starships/'

In [107]:
names = []
model = []
manufacturer = []
cost_in_credits = []
length = []
max_atmosphering_speed = []
crew = []
passengers = []
cargo_capacity = []
consumables = []
hyperdrive_rating = []
MGLT = []
starship_class = []
pilots = []


for i in range(2,200):
    
    new_url = url03 + f'{i}/'
    response = requests.get(new_url)
    if response.ok == False:
        continue
    json = response.json()
    
    names.append(json['name'])
    model.append(json['model'])
    manufacturer.append(json['manufacturer'])
    cost_in_credits.append(json['cost_in_credits'])
    length.append(json['length'])
    max_atmosphering_speed.append(json['max_atmosphering_speed'])
    crew.append(json['crew'])
    passengers.append(json['passengers'])
    cargo_capacity.append(json['cargo_capacity'])
    consumables.append(json['consumables'])
    hyperdrive_rating.append(json['hyperdrive_rating'])
    MGLT.append(json['MGLT'])
    starship_class.append(json['starship_class'])
    pilots.append(json['pilots'])

In [108]:
len(names)

36

In [111]:
starships = pd.DataFrame({'names':names,
                         'model': model, 
                         'manufacturer': manufacturer,
                         'cost_in_credits': cost_in_credits, 
                          'length':length, 
                          'max_atmosphering_speed': max_atmosphering_speed,
                          'crew':crew,                        
                          'passengers':passengers, 
                          'cargo_capacity': cargo_capacity,
                          'consumables': consumables,
                          'hyperdrive_rating':hyperdrive_rating,     
                          'MGLT' :MGLT,
                          'starship_class':starship_class,
                          'pilots': pilots})

In [113]:
starships.to_csv('starships.csv')

In [143]:
germany = pd.read_csv('https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv')

In [145]:
germany.sample(10)

            Date  Consumption     Wind    Solar  Wind+Solar
2332  2012-05-21     1327.358  121.186  127.468     248.654
2342  2012-05-31     1371.961   57.814  105.132     162.946
1989  2011-06-13      995.460   62.986      NaN         NaN
1689  2010-08-17     1365.176  121.486      NaN         NaN
1946  2011-05-01      971.752  141.623      NaN         NaN
3193  2014-09-29     1418.665   32.290  113.405     145.695
3248  2014-11-23     1192.159  175.713   43.610     219.323
3872  2016-08-08     1339.952  350.032  172.576     522.608
391   2007-01-27     1392.674      NaN      NaN         NaN
1372  2009-10-04     1107.416      NaN      NaN         NaN

In [146]:
mtg_df = pd.read_json('AllCards.json')

In [152]:
mtg_df.head()

,"""Ach! Hans, Run!""","""Rumors of My Death . . .""",1996 World Champion,A Display of My Dark Power,A Good Thing,A Reckoning Approaches,AWOL,Abandon Hope,Abandon Reason,Abandoned Outpost,...,Zur's Weirding,Zuran Enchanter,Zuran Orb,Zuran Spellcaster,Zurgo Bellstriker,Zurgo Helmsmasher,"Zyym, Mesmeric Lord",Zzzyxas's Abyss,_____,capital offense
colorIdentity,"[G, R]",[B],"[B, G, R, U, W]",[],"[B, W]",[],[W],[B],[R],[W],...,[U],"[B, U]",[],[U],[R],"[B, R, W]","[B, U]",[B],[U],[B]
colors,"[G, R]",[B],"[B, G, R, U, W]",[],"[B, W]",[],[W],[B],[R],[],...,[U],[U],[],[U],[R],"[B, R, W]","[B, U]",[B],[U],[B]
convertedManaCost,6.0,3.0,5.0,0.0,6.0,0.0,3.0,2.0,3.0,0.0,...,4.0,2.0,0.0,3.0,1.0,5.0,4.0,3.0,2.0,4.0
foreignData,[],[],[],[],[],[],[],"[{'language': 'German', 'name': 'Verlust der H...","[{'language': 'German', 'name': 'Abkehr von de...","[{'language': 'German', 'name': 'Aufgegebener ...",...,"[{'language': 'German', 'name': 'Zurs bizarre ...","[{'language': 'German', 'name': 'Zuranischer V...",[],"[{'language': 'German', 'name': 'Zuranischer Z...","[{'language': 'German', 'name': 'Zurgo Glocken...","[{'language': 'Japanese', 'name': '兜砕きのズルゴ', '...",[],[],[],[]
layout,normal,normal,normal,scheme,normal,scheme,normal,normal,normal,normal,...,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal

In [158]:
mtg_df['column0']= mtg_df.index

In [159]:
mtg_df.pivot(columns = mtg_df['column0'])

ValueError: operands could not be broadcast together with shapes (0,) (34,)