In [1]:
# for presentation purposes
import warnings
warnings.filterwarnings("ignore")

# wrangle
from env import username, password, host
import os

# transform
import numpy as np
import pandas as pd

# visualize 
import matplotlib.pyplot as plt
import seaborn as sns

# working with dates
from datetime import datetime

# modeling
import statsmodels.api as sm
from statsmodels.tsa.api import Holt, ExponentialSmoothing
np.random.seed(0)

# evaluate
from sklearn.metrics import mean_squared_error
from math import sqrt

In [8]:
df = pd.read_csv('saas.csv')

In [9]:
df.head()

  Month_Invoiced  Customer_Id  Invoice_Id  Subscription_Type  Amount
0     2014-01-31      1000000     5000000                0.0     0.0
1     2014-01-31      1000001     5000001                2.0    10.0
2     2014-01-31      1000002     5000002                0.0     0.0
3     2014-01-31      1000003     5000003                0.0     0.0
4     2014-01-31      1000004     5000004                1.0     5.0

In [10]:
columns_to_drop = ['Customer_Id', 'Invoice_Id']
df.drop(columns = columns_to_drop, inplace = True)

In [13]:
df.head(), df.shape

(  Month_Invoiced  Subscription_Type  Amount
 0     2014-01-31                0.0     0.0
 1     2014-01-31                2.0    10.0
 2     2014-01-31                0.0     0.0
 3     2014-01-31                0.0     0.0
 4     2014-01-31                1.0     5.0,
 (790458, 3))

In [14]:
df['Month_Invoiced'] = pd.to_datetime(df['Month_Invoiced'],infer_datetime_format = True)

In [15]:
df = df.set_index('Month_Invoiced')

In [16]:
df = df.sort_index()

In [17]:
df.head()

                Subscription_Type  Amount
Month_Invoiced
2014-01-31                    0.0     0.0
2014-01-31                    2.0    10.0
2014-01-31                    0.0     0.0
2014-01-31                    0.0     0.0
2014-01-31                    1.0     5.0

Split data (train/test) and resample by any period, except daily, and aggregate using the sum.

In [18]:
train_len = int(0.6 *len(store_df))
val_test_split = int(0.8 * len(store_df))
train_len, val_test_split

(547800, 730400)

In [19]:
train = store_df.iloc[:train_len]
val = store_df.iloc[train_len: val_test_split]
test = store_df.iloc[val_test_split:]
train.shape, val.shape, test.shape

((547800, 9), (182600, 9), (182600, 9))

In [20]:
train.groupby('Subscription_Type')['Amount'].sum().plot.bar()

KeyError: 'Subscription_Type'

Forecast, plot and evaluate using each at least 4 of the methods we discussed:

Last Observed Value

Simple Average

Moving Average

Holt's Linear Trend

Holt's Seasonal Trend

Based on previous year/month/etc., this is up to you.